#
# .gitignore
#

# ================================================================================
# OS X
# ================================================================================

.Spotlight-V100/
.Trashes/
Temporary Items/

._*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.apdisk
Icon


# ================================================================================
# Linux
# ================================================================================

*~
.directory


# ================================================================================
# Windows
# ================================================================================

$RECYCLE.BIN/

*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db


# ================================================================================
# project
# ================================================================================

container/*/build/
